<div>
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div>
            <div class="scrollbar-inner">
                <!-- Brand -->
                <div class="sidenav-header align-items-center">
                    <a class="navbar-brand" href="javascript:void(0)">
                    </a>
                </div>
                <div class="navbar-inner">
                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                        <!-- Nav items -->
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    <i class="ni ni-laptop text-primary"></i> Recargas
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    <strong>Tipo</strong>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    Cantidad: {{ cantidadTigo }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    Valor $ {{ valorTigo }}
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    <strong>Movistar</strong>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    Cantidad: {{ cantidadMovistar }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    Valor $ {{ valorMovistar }}
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    <strong>Comcel</strong>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    Cantidad: {{ cantidadComcel}}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    Valor $ {{ valorComcel }}
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    <strong>Uff</strong>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    Cantidad: {{ cantidadUff }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                                    Valor $ {{ valorUff }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <div class="main-content" id="panel">

        <!-- Nav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- mostrar sidebar -->

                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center ml-md-auto"></ul>

                    <ul class="navbar-nav align-items-center ml-auto ml-md-0">
                        <li class="nav-item dropdown">
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- spinner -->
        <!-- <div *ngIf="spinner == true" style="position: relative;">
        <div style="position: absolute; left: 700px; top: 300px; z-index: 3;">
          <sa-spinner-circular color="#4B76F1"></sa-spinner-circular>
        </div>
      </div> -->

        <!-- buscador -->
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-center py-4">

                        <div class="col-8 col-sm-8 col-md-8 col-lg-9">
                            <div>
                                <div class="input-group">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-2 text-right">
                            <button data-toggle="modal" data-target="#modal-default" (click)="cleanAll()"
                                class="btn btn-neutral">
                                Nueva recarga </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">

                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Recargas</h3>
                                </div>

                                <div class="col text-right">
                                    <button title="Recargar" (click)="refresh()" class="btn btn-sm btn-primary">
                                        <span class="btn-inner--icon"><i class="fa fa-refresh"
                                                aria-hidden="true"></i></span>
                                    </button>
                                </div>
                            </div>

                        </div>

                        <!-- Light table -->
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="sort" data-sort="name">Valor</th>
                                        <th scope="col" class="sort" data-sort="budget">Operador</th>
                                        <th scope="col" class="sort" data-sort="budget">Vendedor</th>
                                    </tr>
                                </thead>
                                <tbody class="list">
                                    <tr *ngFor="let item of data">
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <span class="name mb-0 text-sm">
                                                        {{ item.valor }}
                                                    </span>
                                                </div>
                                            </div>
                                        </th>

                                        <td>
                                            <span class="badge badge-dot mr-4">
                                                <span class="status">
                                                    {{ item.operador }}
                                                </span>
                                            </span>
                                        </td>

                                        <td>
                                            <span class="badge badge-dot mr-4">
                                                <span class="status">
                                                    {{ item.persona.nombre }}
                                                </span>
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- si existen registros -->
                    <div *ngIf="data.length === 0" class="alert alert-primary" role="alert">
                        No existen registrados.
                    </div>

                </div>
            </div>
        </div>

        <!-- abrir y cerrar un modal -->
        <button id="closeModalCreate" [hidden]="true" data-toggle="modal" data-target="#modal-default"
            class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="closeModalEdit" [hidden]="true" data-toggle="modal" data-target="#modal-edit"
            class="btn btn-default" data-dismiss="modal">Close</button>

        <!-- nuevo -->
        <div class="row">
            <div class="col-md-4">
                <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
                    aria-hidden="true">
                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="modal-title-default">
                                    Nueva recarga
                                </h6>
                                <button type="button" title="Cerrar modal" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div autocomplete="off">
                                    <div class="pl-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Valor</label>
                                            <input type="text" [(ngModel)]="valor"
                                                class="form-control form-control-alternative" placeholder="Nombre"
                                                required autofocus />
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label">Operador</label>
                                            <select [(ngModel)]="operador" required class="form-control">
                                                <option value="Tigo"> Tigo </option>
                                                <option value="Movistar"> Movistar </option>
                                                <option value="Concel"> Comcel </option>
                                                <option value="UFF"> UFF </option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Vendedor</label>
                                            <div class="form-group">
                                                <select [(ngModel)]="personaId" required class="form-control">
                                                    <option value="0">---Seleccionar---</option>
                                                    <option *ngFor="let item of personas" [value]="item.id">
                                                        {{ item.nombre }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="">
                                            <button type="reset" (click)="cleanAll()" data-dismiss="modal"
                                                aria-label="Close" class="btn btn-secondary mt-4"> Cancelar </button>
                                            <button type="submit" (click)="create()" [disabled]="getDisable()"
                                                class="btn btn-primary mt-4">{{ btnGuardar }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>